body{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79086/gaussian_blur_simple_background.jpg) no-repeat ;    
    /*margin-top:20px;*/
}

.vertical-offset-100{
    padding-top:100px;
}

textarea {
    resize: none;
}
